*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #e3820b, #69bee2, #ffffff);
}
.wrapper{
    width: 420px;
    background: whitesmoke;
    color: rgb(0, 0, 0);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .button{
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, #e3820b, #69bee2, #ffffff);
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

